<h1>All Posts</h1>

<table class="table table-bordered">

    <thead>
        <tr>
            <th>Id</th>
            <th>Image</th>
            <th>Title</th>
            <th>Status</th>
            <th>Category</th>
            <th>Allow comments</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
        {{#each posts}}
        <tr>
            <td>{{id}}</td>
            <td><img style="width: 200px;" src="{{file}}"></td>
            <td>{{title}}</td>
            <td>{{status}}</td>
            <td>{{category.name}}</td>
            <td>{{allowComments}}</td>
            <td><a href="/post/{{id}}">View</a></td>
            <td>{{GenerateTime date 'MMMM Do YYYY, h:mm:ss a'}}</td>
            <td><a href="/admin/posts/edit/{{id}}" class="btn btn-info">Edit</a></td>
            <td>
                <form action="/admin/posts/{{id}}?_method=DELETE" method="POST">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </td>
        </tr>
        {{/each}}
    </tbody>

</table>